@inject QuestStoreNAT.web.Services.ICurrentSession Session
@model Student

@{
    ViewData["Title"] = "ShowStudentProfile";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

    <div class="student_panel">
        <div class="table_container">
            <div id="student" class="grid_table">
                <span class="cellSpan">Student Name : @Model.FirstName @Model.LastName</span>
                <span class="cellSpan">Coolcoins : @Model.Wallet</span>
                <span class="cellSpan">Group : @Model.groupName</span>
                <span class="cellSpan">Level : @Model.level</span>
            </div>
        </div>

        @if (Model.StudentArtifacts.Count != 0)
        {
            <div class="artifacts">
                <div class="header_artifacts">Your Artifacts</div>
                <div id="artifact">
                    @foreach (var artifact in Model.StudentArtifacts)
                    {
                        <div class="questreward questreward--individual">
                            <h3 class="questreward__title">@artifact.Name</h3>
                            <h3 class="questreward__cost">@artifact.Cost</h3>
                            <p class="questreward__description">@artifact.Description</p>
                            <div class="admin-controll">
                                <a asp-action="UseArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Use</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.UsedStudentArtifacts.Count != 0)
        {
            <div class="artifacts">
                <div class="header_artifacts">Used Artifacts</div>
                <div id="artifact">
                    @foreach (var artifact in Model.UsedStudentArtifacts)
                    {
                        <div class="questreward questreward--used">
                            <a asp-action="DeleteArtifact" asp-route-id="@artifact.Id" class="questreward__remover"> X </a>
                            <h3 class="questreward__title">@artifact.Name</h3>
                            <h3 class="questreward__cost">@artifact.Cost</h3>
                            <p class="questreward__description">@artifact.Description</p>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.GroupArtifacts.Count != 0)
        {
            <div class="artifacts">
                <div class="header_artifacts">Group Artifacts</div>
                <div id="artifact">
                    @foreach (var artifact in Model.GroupArtifacts)
                    {
                        <div class="questreward questreward--group">
                            <h3 class="questreward__title">@artifact.Name</h3>
                            <h3 class="questreward__cost">@artifact.Cost</h3>
                            <p class="questreward__description">@artifact.Description</p>
                            <div class="admin-controll">
                                <a asp-action="UseArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Use</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @if (Model.UsedGroupArtifacts.Count != 0)
        {
            <div class="artifacts">
                <div class="header_artifacts">Used Group Artifacts</div>
                <div id="artifact">
                    @foreach (var artifact in Model.UsedGroupArtifacts)
                    {
                        <div class="questreward questreward--used">
                            <a asp-action="DeleteArtifact" asp-route-id="@artifact.Id" class="questreward__remover"> X </a>
                            <h3 class="questreward__title">@artifact.Name</h3>
                            <h3 class="questreward__cost">@artifact.Cost</h3>
                            <p class="questreward__description">@artifact.Description</p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>