@inject QuestStoreNAT.web.Services.ICurrentSession Session
@model List<Quest>

@{
    ViewData["Title"] = "ViewAllQuests";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

    <div id="landing__content" class="landing__content">

        @if (TempData["QuestMessage"] != null)
        {
            <div id="info_box" class="hero-landing info-box-landing" onclick="TurnOff()">
                <h5 class="info-box">@TempData["QuestMessage"]</h5>
            </div>
        }

        <div class="landing__content__wrapper">
            <h3 class="landing__content--border landing__content--margin">Have you compleated a task by yourself?</h3>
        </div>
        @foreach (var quest in Model.Where(q => q.Type == TypeClassification.Individual).OrderBy(q=>q.Cost))
        {
            <div class="questreward questreward--individual">
                <h3 class="questreward__title">@quest.Name</h3>
                <h3 class="questreward__cost">@quest.Cost</h3>
                <p class="questreward__description">@quest.Description</p>
                @if (Session.LoggedUserRole == Role.Mentor | Session.LoggedUserRole == Role.Admin)
                {
                <div class="admin-controll">
                    <a asp-action="EditQuest" asp-route-id="@quest.Id" class="dropdown__button">Edit</a>
                    <a asp-action="DeleteQuest" asp-route-id="@quest.Id" class="dropdown__button">Delete</a>
                </div>
                }
                @if (Session.LoggedUserRole == Role.Student)
                {
                    <div class="admin-controll">
                        <a asp-action="ClaimQuest" asp-route-id="@quest.Id" class="dropdown__button">Claim</a>
                    </div>
                }
            </div>
        }

        <div id="dividerh3" class="landing__content__wrapper margin50top">
            <h3 class="landing__content--border landing__content--margin">Did you accomplish something as a group?</h3>
        </div>
        @foreach (var quest in Model.Where(q => q.Type == TypeClassification.Group).OrderBy(q => q.Cost))
        {
            <div class="questreward questreward--group">
                <h3 class="questreward__title">@quest.Name</h3>
                <h3 class="questreward__cost">@quest.Cost</h3>
                <p class="questreward__description">@quest.Description</p>
                @if (Session.LoggedUserRole == Role.Mentor | Session.LoggedUserRole == Role.Admin)
                {
                <div class="admin-controll">
                    <a asp-action="EditQuest" asp-route-id="@quest.Id" class="dropdown__button">Edit</a>
                    <a asp-action="DeleteQuest" asp-route-id="@quest.Id" class="dropdown__button">Delete</a>
                </div>
                }
                @if (Session.LoggedUserRole == Role.Student)
                {
                    <div class="admin-controll">
                        <a asp-action="ClaimQuest" asp-route-id="@quest.Id" class="dropdown__button">Claim</a>
                    </div>
                }
            </div>
        }

    </div>
</div>
