@inject QuestStoreNAT.web.Services.ICurrentSession Session
@model List<Credentials>

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

        <div id="landing__content" class="landing__content">

            @if ( Session.LoggedUserRole == Role.Admin )
            {
                @foreach ( var credential in Model )
                {
                    <div class="questreward questreward--individual">
                        <h3 class="questreward__title">@credential.Email</h3>
                        <h3 class="questreward__cost">@credential.Password</h3>
                        <p class="questreward__description">@credential.Role</p>
                            <a asp-action="Edit" asp-route-id="@credential.Id" class="dropdown__button dropdown--margin">Edit</a>
                            <a asp-action="Delete" asp-route-id="@credential.Id" class="dropdown__button dropdown--margin">Delete</a>
                    </div>
                }
            }
            <div id="dividerh3" class="landing__content__wrapper">
                <h3 class="landing__content--border landing__content--margin">Did you accomplish something as a group?</h3>
            </div>
        </div>
</div>
