@inject QuestStoreNAT.web.Services.ICurrentSession Session

@model StudentEditViewModel

@{
    ViewData["Title"] = "Details Student";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

        @if (Session.LoggedUserRole == Role.Admin | Session.LoggedUserRole == Role.Mentor)
        {
            <div>
                <h1></h1>
                <div class="table_container">


                    <div id="mentor" class="grid_table">
                        <span class="headerSpan"><strong>First Name</strong></span>
                        <span class="headerSpan"><strong>Last Name</strong></span>
                        <span class="headerSpan"><strong>Wallet</strong></span>

                        <span class="cellSpan">@Model.FirstName </span>
                        <span class="cellSpan">@Model.LastName</span>
                        <span class="cellSpan">@Model.Wallet</span>
                    </div>


                    <div id="classes" class="grid_table">
                        <span class="headerSpan"><strong>Class Name</strong></span>
                        <span class="cellSpan">
                            @if (Model.Classrooms.Count() == 0)
                            {
                                <span class="cellSpan">The student has not been assigned to any class so far</span>
                            }
                            @foreach (var item in Model.Classrooms)
                            {
                                <a>@item.Name</a>
                            }
                        </span>
                    </div>

                    <div id="groups" class="grid_table">
                        <span class="headerSpan"><strong>Group Name</strong></span>
                        <span class="headerSpan"><strong>Group Wallet </strong></span>
                        @foreach (var group in Model.Groups)
                        {
                            <span class="cellSpan">@group.Name</span>
                            <span class="cellSpan">@group.GroupWallet</span>
                        }

                    </div>

                    @if (Model.OwnedStudentQuests.Count() == 0)
                    {
                        <div id="info_box" class="hero-landing" onclick="TurnOff()">
                            <h5 class="info-box">The student has not tackled any quest so far</h5>
                        </div>
                    }


                    <div id="students" class="grid_table">
                        <span class="headerSpan"><strong>Quest Name</strong></span>
                        <span class="headerSpan"><strong>Completion Status</strong></span>
                        <span class="headerSpan"><strong>Change Status</strong></span>

                        @if (Model.OwnedStudentQuests.Count() == 0)
                        {
                            <span class="cellSpan">&nbsp;</span>
                            <span class="cellSpan">&nbsp;</span>
                            <span class="cellSpan">&nbsp;</span>
                        }
                        @foreach (var quest in Model.OwnedStudentQuests)
                        {
                            <span class="cellSpan">@quest.Name</span>
                            @if (@quest.CompletionStatus == CompletionStatus.Unfinished)
                            {

                                <span class="cellSpan">ongoing</span>
                                <span class="cellSpan">
                                    <a asp-action="Confirmation" asp-controller="Student" asp-route-questId="@quest.Id" class="dropdown__button dropdown--margin">Change status</a>
                                </span>

                            }
                            else
                            {
                                <span class="cellSpan">completed<a class="btn btn-primary" value="Change status"></a></span>
                                <span class="cellSpan">
                                </span>
                            }
                        }
                    </div>
                </div>
            </div>
        }
</div>
